.Main-intro {
  height: 100vh;
  text-align: center;
  max-width: 90%;
  margin: 0 auto;
}

.Main-title {
  margin-top: 10vh;
  font-size: 28px;
}

.Main-subtitle {
  margin-top: 20px;
  font-size: 18px;
}

.Main-legend {
  font-size: 18px;
  max-width: 150px;
  margin: 15vh auto 0;
}

.Main-legend-title {
  margin-bottom: 20px;
  font-size: 20px;
  text-align: left;
}

.Main-legend-item {
  text-align: left;
  margin-bottom: 10px;
}

.Main-legend-icon {
  display: inline-block;
  width: 30px;
  margin-right: 10px;
}

.Main-legend-text {
  display: inline-block;
}

.Main-down {
  font-size: 30px;
  color: #ddd;
  margin-top: 20vh;
}

.Main-container {
  position: relative;
}

.Main-location-container {
  height: 390px;
  position: relative;
}

.Main-location {
  padding: 300px 30px 30px;
  background-color: #ddd;
  position: absolute;
  top: 0;
  width: 100%;
}

.Main-location-text {
  font-size: 36px;
  height: 60px;
  line-height: 60px;
  text-transform: uppercase;
  background: #323232;
  display: inline-block;
  padding: 0 30px;
  color: #f9f9f9;
}

.Main-climbs {
  padding: 20px 30px;
  background: #F8F8F8;
}

.Main-climb {
  overflow: auto;
  padding: 10px;
  margin-bottom: 15px;
  font-size: 18px;
  box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.03), 1px 2px 3px rgba(0, 0, 0, 0.1);
  background: white;
}

.Main-climb-icon {
  display: inline-block;
  width: 20px;
  padding-right: 10px;
}

.Main-climb-header {
  display: inline-block;
  font-weight: bold;
}

.Main-climb-info {
  display: inline-block;
  float: right;
}

.Main-sticky {
  position: fixed;
  top: -270px;
}

.fa {
  transform: translateY(-5px);
}

.fa-paper-plane,
.fa-paper-plane-o {
  color: 	#205200;
}

.fa-circle,
.fa-circle-o {
  color: 	#003366;
}

@media only screen and (max-width: 500px) {
  .Main-climb-info {
    display: block;
    float: left;
    margin-top: 10px;
    margin-left: 30px;
  }
}
.Sidebar-container {
  width: 175px;
  padding: 10px;
}

.Sidebar-header {
  font-size: 20px;
  margin-bottom: 5px;
}

.Sidebar-section {
  font-size: 15px;
  padding: 5px 0;
}

.Sidebar-section:hover {
  font-weight: bold;
  cursor: pointer;
}

.Sidebar-section-selected {
  font-weight: bold;
}
.climbs-container {

}

.climb-container {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #999;
  margin-bottom: 10px;
}

.climb-attributes div {
  display: inline-block;
  width: 25%;
}

.climb-style {

}

.climb-grade {

}

.climb-pitches {

}

.climb-area {

}

.climb-status {

}
body {
  font-family: 'Nunito', sans-serif;
  color: #323232;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

div {
  overflow: hidden;
}
