.Main-intro {
  height: 100vh;
  text-align: center;
  padding: 0 10%;
  position: relative;
  background: #F8F8F8;
}

.Main-title {
  margin-top: 10vh;
  font-size: 28px;
}

.Main-subtitle {
  margin-top: 20px;
  font-size: 18px;
}

.Main-legend {
  font-size: 18px;
  max-width: 155px;
  margin: 15vh auto 0;
}

.Main-legend-title {
  margin-bottom: 20px;
  font-size: 20px;
  text-align: left;
}

.Main-legend-item {
  text-align: left;
  margin-bottom: 10px;
  padding: 2px;
}

.Main-legend-icon {
  display: inline-block;
  width: 30px;
  margin-right: 10px;
}

.Main-legend-text {
  display: inline-block;
}

.Main-down {
  font-size: 30px;
  color: #ddd;
  position: absolute;
  bottom: 20px;
}

.Main-container {
  position: relative;
  z-index: -1;
}

.Main-location-container {
  height: 490px;
  box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.03), 1px 2px 3px rgba(0, 0, 0, 0.1);
  position: relative;
}

.Main-location {
  padding: 400px 30px 30px;
  background-color: #ddd;
  position: absolute;
  top: 0;
  width: 100%;
  background-size: cover;
  z-index: 1;
}

.Main-location-text {
  font-size: 36px;
  height: 60px;
  line-height: 60px;
  text-transform: uppercase;
  background: #323232;
  display: inline-block;
  padding: 0 30px;
  color: #f9f9f9;
  overflow: hidden;
}

.Main-climbs {
  padding: 20px 30px;
  background: #F8F8F8;
}

.Main-climb {
  overflow: auto;
  padding: 20px;
  margin-bottom: 20px;
  font-size: 18px;
  box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.03), 1px 2px 3px rgba(0, 0, 0, 0.1);
  background: white;
}

.Main-climb-icon {
  display: inline-block;
  width: 20px;
  padding-right: 20px;
}

.Main-climb-header {
  display: inline-block;
  font-weight: bold;
}

.Main-climb-info {
  display: inline-block;
  float: right;
}

.Main-sticky {
  position: fixed;
  top: -370px;
  z-index: 1;
  box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.03), 1px 2px 3px rgba(0, 0, 0, 0.1);
}

.fa {
  transform: translateY(-5px);
}

.fa-paper-plane,
.fa-paper-plane-o {
  color: 	#205200;
}

.fa-circle,
.fa-circle-o {
  color: 	#003366;
}

@media only screen and (max-width: 500px) {
  .Main-climb-info {
    display: block;
    float: left;
    margin-top: 10px;
    margin-left: 40px;
    width: 100%;
  }
}