body {
  font-family: 'Nunito', sans-serif;
  color: #323232;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

div {
  overflow: hidden;
}

a {
  color: #323232;
}

a div:hover {
  text-decoration: underline;
}